@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Document.DocumentViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">
    @if(!string.IsNullOrEmpty(Model.MediaUrl))
    {
        <div class="media align-items-center">
            <i style="font-size: 21px; margin-right: 1rem; color: #fdb813;" class="far fa-file-alt"></i>
            <div class="media-body" role="group">
                <a class="@String.Concat("sf", Model.Extension)" href="@Model.MediaUrl" target="_blank">@Model.Title</a> 
                <span class="text-muted" aria-label="@Html.Resource("FileExtension")">(@Model.Extension)</span>
            <span class="text-muted" aria-label="@Html.Resource("FileSize")">@Model.FileSize KB</span>
            </div>
        </div>
    }
</div>