@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    @Html.Section("head")

    <!-- Google Tag Manager -->
    <script>
         (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
               'gtm.start': new Date().getTime(),
               event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
               j = d.createElement(s),
               dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
               'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
         })(window, document, 'script', 'dataLayer', 'GTM-W6XXPM');

    </script>
    <!--reach edge-->
    <script type="text/javascript" src="//cdn.rlets.com/capture_configs/5dd/e3e/f36/56c4d699d110ab0ceb2b6d2.js" async="async"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6XXPM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!--  /Google Tag Manager (noscript) -->

    @Html.Section("top")

    <div>
        @Html.SfPlaceHolder("Contentplaceholder1")
    </div>

    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @Html.Section("inline-editing")
    @if (Html.ShouldRenderInlineEditing())
    {
    @Html.Script(ScriptRef.MicrosoftAjax, "inline-editing", true)
    @Html.Script(ScriptRef.MicrosoftAjaxCore, "inline-editing", true)
    @Html.Script(ScriptRef.JQuery, "inline-editing", true)

    @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "inline-editing", true)
    @Html.Script(ScriptRef.KendoAll, "inline-editing", true)
    @Html.Script(ScriptRef.KendoTimezones, "inline-editing", true)
    @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "inline-editing", true)
    @Html.InlineEditingManager(false)
    }
    @Html.Section("bottom")


    <!--placeholder for scripts-->
    @Html.SfPlaceHolder("scripts")
</body>
</html>
